/* /////////////////////////styling cursor semua halaman/////////////////////////*/
*{cursor:url(../cursor/glow.cur), auto;}
a{cursor:url(../cursor/link.cur), auto;}
h1,h2,h3,h4,h5,h6,p,span{cursor:url(../cursor/handwrite.cur), auto;}

.none-padding{margin: -15px 0 -15px 0;}


/* /////////////////////////styling sliders/////////////////////////*/
#slides {
    position: relative;
    height: 100%;           width: 100%;
    padding: 0px;           margin: 0px;
    z-index: -20;
}
.slide {
    position: fixed;
    background-size: 100%;
    left: 0px;             top: 0px;
    width: auto;           height: auto;
    min-width: 100%;       min-height: 100%;
    opacity: 0;            z-index: -21;
    /* sebagai overlay color pada slider*/
    background-color: rgba(7, 0, 46, 0.5);  
    background-blend-mode: multiply;
}
.showing {
    opacity: 1;
    z-index: -22;
}
#next,#previous{
    width: 50px;    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    background: rgb(0,0,0,0);
    font: 30px montserrat-bold;
    color: white;     text-align: center;
    margin: 20px;
    animation: ripple 2s infinite; 
}
#next:hover,#previous:hover{
    width: 55px;    height: 55px;
    border: 4px solid cyan;
    background: rgb(43,2,53,0.6);
    font: 40px montserrat-bold;
    color: cyan;     text-align: center;
    margin: 20px;
}

/* /////////////////////////styling preloader/////////////////////////*/
/* preloader  zindex 80-81*/
.preloader {
    position: fixed;
    top: 0;         left: 0;
    width: 100%;    height: 100%;
    background-image: url(../images/bg-loader.png);
    background-size: 100%;
    text-align: center;
    font: 34px redressed;
    z-index: 80;
    color: black;
    overflow: hidden;
}
.loading {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 200px; height: 200px;  
    background-image: url("../images/loader (5).gif");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 81;
    overflow: hidden;
}
.loading img{
    margin-top: 30%;  
    width: 100px;
}

/* /////////////////////////styling navbar/////////////////////////*/
/*......styling main navbar ........*/
nav.navbar{
    height: 100%;    width: 100%;
    position: sticky;
    margin-bottom: -50px;
    color: rgb(210, 255, 217);
    z-index: 1;
}
.solid-nav {
    /*keterangan : 
        untuk mengaktifkan solid navbar dibutuhkan .first-container 
        di header/ awal section pada setiap page
    */
    /*background-image: linear-gradient(to top, black, #141517);*/
    background-color: rgb(2,2,2,0.7);
    transition: background-color 1s linear;
}

/*......styling nav logo ........*/
div.nav-logo{
    height: 50px;
    display: block; 
    font: 1.5em montserrat-bold;
    color: white; 
    text-shadow: -2px 2px 2px green;
    padding: 0 0 0 15px;
}
.nav-logo b{font:1em montserrat-light;}
.nav-logo img{
    margin-top: 1%;  margin-bottom: -1%;
    height: 40px; filter: grayscale(1) brightness(5);
}

/*......styling link/menu pada navbar ........*/
div.item-navbar{
    height: 50px;    padding: 0px;
}
.nav-link{
    display: table-cell; vertical-align: middle;
    height: 50px; width: inherit;
    font: 1.2em montserrat-regular;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px rgb(0,0,0);
}
.nav-link:hover {
    transition: 0.2s;
    border: 3px solid #00F260;
    color: #00F260;
    font-size: 1.5em; font-weight: bold;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgb(10, 24, 20);
    background-color: rgba(255, 255, 255, 0.267);
}
.active-page {
    box-sizing: border-box;
    border-bottom: 5px solid #00F260;
}
.dropdown-content {
    display: none;
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding: 12px 16px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border-radius: 10px;
    box-shadow: -3px 3px 2px rgba(15, 15, 15, 0.815);
}
.dropdown:hover .dropdown-content {
    display: block;
    float: left;
    transition: 1s;
}
.link-dropdown{
    display: block;
    width: auto; height: auto;
    color: #00F260;
    padding-top: 10px;    padding-bottom: 10px;
    font:1em rubik-regular;
    text-decoration: none;
    text-transform: uppercase;
}
.link-dropdown:hover{
    color: rgb(2, 5, 1); 
    /* color: rgb(217, 255, 0); */
    border-radius: inherit;
    background-color: #00F260;
    font-weight: 900;
}

/*......styling field search ........*/
input.search-field{
    display: block;      margin:-15px;
    width:100%;        height: 48px;
    /* border-radius: 15px 0 0 15px; */
    float: right;      
    text-align: center;
    font: 18px montserrat-light;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: rgb(0,0,0,0);
    border: 3px solid #00F260;
    color: #fbffe3;
    transition:all 1s ease;
}
.search-field:hover{
    width:300px;
    border-radius: 25px 0 0 25px;
    padding-left: 30px;
    background-color: rgb(7, 7, 7);
    background-image: none;
    transition: all 0.8s;
}
.search-field:focus{
    width:300px;
    border-radius: 25px 0 0 25px;
    padding-left: 30px;
    background-color: #070707;
    background-image: none;
}

/* /////////////////////////style footer///////////////////////// */
.footer{   
    width:100%;        height: 100%; 
    left:0px;    bottom:0px;
    border-top: 5px solid #00F260;
    background: rgb(5, 5, 5);
    color: white;    display: block;    

    /* transisi efek move up */
    transition: transform 0.7s;
}
.logo-footer{
    filter: brightness(4);
}
.footer-mobile{
    text-align: center;
    /* disabled/menonaktifkan efek hover footer */
    /*pointer-events: none;*/
}
.footer-desktop{
    position:fixed;
    margin-top: 52%;
}
/* ................setting hide/ show footer saat hovermouse */
.item-footer{visibility: hidden;}
.visible{visibility: visible !important;}
.hidden{visibility: hidden;}
.none{display: none !important;}

.footer:hover{
    transform: translate(0px, -40%);
}
.icon-footer{
    display: block;
    margin-top: -5vw;
    margin-bottom: -150px;
    border-radius: 100px 100px 0 0;
}
.img-footer1{
    margin-left: -9vw;
    width: 15vw;
    animation: icon-footer1 5s linear 2s infinite;
    border-radius: 50%;
    border: 5px solid #00F260;
}
.img-footer2{
    margin-right: -9vw;
    width: 15vw;
    filter: saturate(0.5);
    animation: icon-footer2 5s linear 2s infinite;
    border-radius: 50%;
    border: 5px solid #00F260;
}
.title-footer{
    margin: 0px;    padding: 0px;
    font-family: caviar-dream;
}
.submenu-footer{
    margin-top: -10px;
    margin-bottom: 10px;
    color: #12FFF7;
    font-size: 25px;
}
.link-footer{
    display: block;
    height: 40px;
    color: rgb(255, 255, 255);
    font: 1em montserrat-light;
    text-decoration: none;
    margin: 2px
}
.link-footer:hover{
    color: #B3FFAB;
    font-size: 1.3em;
    font-weight: bold;
    transition: 0.1s;
}
.item-footer p{
    padding-left: 15%;
    padding-right: 15%;
    font: 1em zonapro;
}
/****************************styling lightbox********************************************/

/*-------------- Hide the slides by default--------------*/
.konten-artikel { display: none;}
.box-wrap{
    padding: 0; 
    border-radius: 20px;
    color:  white;
    font: 14px montserrat-light;
    transition: transform 0.5s;
}
.box-wrap:hover{
    transform: translate(-10px,-10px);
    filter: brightness(0.7);
}
.bg-card{
    height: 200px;    padding: 0;
    border: 5px solid #00F260;
    border-radius: 20px;
}
.bg-card:hover{box-shadow: 3px 3px 3px black;}
.text-card{ 
    display: block;
    height: 100px;
    margin-top: -120px;
    background: rgb(0,0,0,0.7);
    border-left: 5px solid #00F260;
    border-right: 5px solid #00F260;
    font: 1em rubik-regular;
    text-transform: uppercase;
}
h3.text-box{
    padding-top: 10px;
    font:20px rubik-regular;
}
/*-------------- The Modal (background)--------------*/
.modal {
  left: 0;    top: 0;
  width: 100%;    height: 100%;
  display: none;  position: fixed;
  z-index: 90;
  background-image: url(../images/bg-loader.png);
  background-size: 100%;
}

/*////////////////////////// Modal Content/////////////*/
.modal-content {
  height: 500px;
  background-color: rgb(50,50,50);  color: white;
  position: relative;
  margin: auto;  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.img-artikel{
  height: 500px;
  margin: -15px 0 0 -30px;
}
.text-artikel{
    height: 500px;
    padding: 80px 50px 0 0;
    font-size: 1em;
    text-align: justify;
}
/*-------------- Caption text--------------*/
.caption-container {
  height: 50px;
  text-align: center;
  padding-top: 50px;
}
p#caption{
  margin-top: -30px;
  text-transform: capitalize;
  font: 2.5em kaushan;
  font-weight: 900;
  text-shadow: 3px 3px 5px #00F260;
}
/*---------navigasi thumbnail card---------*/
img.thumbnail {
  height: 50px;
}
/*--------------wrap thumbnail--------------*/
.wrap-thumbnail{
  height: 100px;
  background: pink;
  bottom: 0;
}


/*////////////////////styling control button ////////////*/
/*-------------- The Close Button--------------*/
.close {
  color: black;  position: absolute;
  font-size: 5em;  font-weight: bold;
  padding-right: 5%;
}
.close:hover,.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*-------------- Next & previous buttons--------------*/
.wrap-control-artikel{
    height: 50px; font-size: 2.7em;
    position: absolute;
    margin-top: 200px;
}
.next-artikel {
    float: right;
    width: 50px;      height: 80px;    
    border-radius: 3px 0 0 3px;
    cursor: pointer;  
    color: grey;
    transition: 0.4s ease;
}
.prev-artikel {
    float: left; 
    width: 50px;      height: 80px;    
    border-radius: 0 3px 3px 0;
    color: grey;
    cursor: pointer;  
    transition: 0.4s ease;
}
.prev-artikel:hover,.next-artikel:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.active,.thumbnail:hover { opacity: 1;}

/****************************end styling lightbox********************************************/